:root {
    /* Fonts */
--main-font: Roboto, sans-serif; 
--secondary-font: Raleway, sans-serif;

    /* Text colors */
--main-txt-cl:#212121;
--accent-txt-cl: #2196F3;
--logo-txt-cl: #000000;
--supporting-txt-cl: #757575;
--light-txt-cl:#FFFFFF;

    /* Background colors */
--main-bg-cl:#FFFFFF;
--supporting-bg-cl:#2F303A;
--accent-bg-cl: #2196F3;
--grey-bg-cl: #F5F4FA;

    /* Others */
}

.page {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--main-txt-cl);
    background-color: var(--main-bg-cl);
}

/* Reset */

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.link,
.contact-link {
    text-decoration: none;
    color: currentColor;
}

.list,
.filters-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 2px solid red;
    outline-offset: -2px;
}

/* Header */

.header-container {
display: flex;
}

.logo {
 margin-right: 93px;   
}

.header .logo {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
color: var(--logo-txt-cl);
text-decoration: none;
}

.logo span {
color: var(--accent-txt-cl);
}

.nav {
    margin-right: 344px;
}

.header-list {
display: flex;
gap: 50px;
}

.header .link {
font-weight: 500;
line-height: calc(16/14);
letter-spacing: 0.02em;
}

.contact-link {
font-weight: 500;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: var(--supporting-txt-cl);  
}

.header .link:hover,
.header .link:focus,
.contact-link:hover,
.contact-link:focus {
 color: var(--accent-txt-cl);   
}

.current {
    color: var(--accent-txt-cl);
}
/* Hero */

.hero {
    background-color:var(--supporting-bg-cl);
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--light-txt-cl);
}

.hero .btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.06em;
color: var(--light-txt-cl);
background-color: var(--accent-bg-cl);
cursor: pointer;
}

/* Features */

.subtitle {
font-weight: 700;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-txt-cl);   
}

.desc {
letter-spacing: 0.03em;
color: var(--supporting-txt-cl);  
}

/* What we do */

.section-title {
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color: var(--main-txt-cl);   
}

/* Our team */

.team {
background-color: var(--grey-bg-cl);
}

.team .list-item {
background-color: var(--main-bg-cl);
}

.team-name {
font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
color: var(--main-txt-cl); 
}

.team-position {
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
color: var(--supporting-txt-cl);  
}

/* Footer */

.footer {
    background-color: var(--supporting-bg-cl);
}

.footer .logo {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
color: var(--light-txt-cl);   
text-decoration: none; 
}

.address .link {
letter-spacing: 0.03em;
color: var(--light-txt-cl); 
font-style: normal;
}

.address .contact-link {
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
font-style: normal;
}

.address .contact-link:hover, 
.address .contact-link:focus {
color: var(--accent-txt-cl);    
}

/* Portfolio */

/* Filters */

.filters-list .btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: calc(26/16);
text-align: center;
letter-spacing: 0.03em;
color: var(--main-txt-cl);
background-color: var(--grey-bg-cl);
}

.filters-list .btn:hover, 
.filters-list .btn:focus{
background-color: var(--accent-bg-cl);  
color: var(--light-txt-cl);
cursor: pointer;  
}

/* Projects */

.project-title {
font-weight: 700;
font-size: 18px;
line-height: calc(36/18);
letter-spacing: 0.06em;
color: var(--main-txt-cl);
}

.project-type {
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em;
color: var(--supporting-txt-cl);
}